<div class="page-header"></div>
<h1>User Registration</h1>

<form>
  <!--Title-->
  <label>Title:</label>
  <input class="form-control" type="text" name="Title" placeholder= "please enter title">
  <br>
  <!--First Name-->
  <label>First Name:</label>
  <input class="form-control" type="text" name="First Name" placeholder= "please enter your First Name">
  <br>
  <!--Surname-->
  <label>Surname:</label>
  <input class="form-control" type="text" name="Surname" placeholder= "please enter your Surname">
  <br>
  <!--Email-->
  <label>Email:</label>
  <input class="form-control" type="text" name="email" placeholder= "please enter an email">
  <br>
  <!--Username-->
  <label>Username:</label>
  <input class="form-control" type="text" name="username" placeholder= "please enter a username">
  <br>
  <!--Password-->
  <label>Password:</label>
  <input class="form-control" type="text" name="password" placeholder= "please enter your password">
  <br>
<button class="btn btn-primary" type="submit">Register</button>
</form>
